.banner-inner {
  position: relative;
  z-index: -1;
}

.banner-inner::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7rem;
  height: 7rem;
  border-bottom: 4px solid #0984e3;
  border-left: 4px solid #0984e3;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.banner-inner::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  border-top: 4px solid #0984e3;
  border-right: 4px solid #0984e3;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.banner-inner:hover::before {
  width: 100%;
  height: 100%;
}
.banner-inner:hover::after {
  width: 100%;
  height: 100%;
}
